### UID 106082225, Sarvari Pidaparty, MSBA'23

Self - Assessment: I have done the required exercises and fully understand them.

# 3.10 7% Investment Return
Reimplement Exercise 2.12 to use a loop that calculates and displays the amount of money you’ll have each year at the ends of years 1 through 30.

In [1]:
principal = 1000.00

In [2]:
rate = 0.07

First we declare the two values that we know, the principal or initial amount invested `principal`, and the annual rate of return `rate`.

In [3]:
for year in range (1,31):
    amount = principal * (1 + rate) ** year
    print(f'{year:>2}{amount:>10.2f}')

 1   1070.00
 2   1144.90
 3   1225.04
 4   1310.80
 5   1402.55
 6   1500.73
 7   1605.78
 8   1718.19
 9   1838.46
10   1967.15
11   2104.85
12   2252.19
13   2409.85
14   2578.53
15   2759.03
16   2952.16
17   3158.82
18   3379.93
19   3616.53
20   3869.68
21   4140.56
22   4430.40
23   4740.53
24   5072.37
25   5427.43
26   5807.35
27   6213.87
28   6648.84
29   7114.26
30   7612.26

We use a simple `for` loop to print the amount you will have at the end of each year. We define a `range` so we get the amounts for years 1 through 30 printed.
We can also format the amounts to 2 decimal places, and align the results to look aesthetic.

###

# 3.13 Data Science: Factorials
Factorial calculations are common in probability. The factorial of a nonnegative integer n is written n! (pronounced “n factorial”) and is defined as follows:
n! = n · (n - 1) · (n - 2) · … · 1
for values of n greater than or equal to 1, with 0! defined to be 1. So, 
5! = 5 · 4 · 3 · 2 · 1 
which is 120. Factorials increase in size very rapidly. Write a script that inputs a nonnegative integer and computes and displays its factorial. Try your script on the integers 10, 20, 30 and even larger values. Did you find any integer input for which Python could not produce an integer factorial value?

In [4]:
integer = int(input('Enter a non-negative integer: '))

Enter a non-negative integer:  20

In [5]:
if integer < 0:
    print('Invalid input')
    
else:
    factorial = 1    
    for i in range (integer, 1, -1):
        factorial = factorial * i
    print('The factorial of', integer, 'is', factorial)

The factorial of 20 is 2432902008176640000

We take the integer input from the user and store it in the variable `integer`.
An `if-else` loop is written to indicate that the input is invalid if a negative integer is entered.
A `for` loop computes the factorial by multiplying the integer with all integers from integer to one, counting down one at a time.
Even very large factorial values are computed by Python.

#

# 3.31 Data Science: Categorical Data
Mean, median and mode work well with numerical values. You can use them in calculations and arrange them in meaningful order. Categorical values are descriptive names like Boxer, Poodle, Collie, Beagle, Bulldog and Chihuahua. Normally, you don’t use these in calculations nor associate an order with them. Which if any of the descriptive statistics are appropriate for categorical data?

`Mode` would be an appropriate measure for descriptive names and categorical values since it measures the frequency of each categorical value and reports the one with the highest frequency. `Mean` and `median`, even variance and skewness for descriptive values could not be calculated, as they have mathematical formulae and it would simply not make sense.

#

# 3.17 Nested Loops 
Write a script that displays the following triangle patterns separately, one below the other. Separate each pattern from the next by one blank line. Use for loops to generate the patterns. Display all asterisks (*) with a single statement of the form
print(' * ', end = '')
which causes the asterisks to display side by side. [Hint: For the last two patterns, begin each line with zero or more space characters.]

#### (a)

In [6]:
for i in range (0, 10):
    for j in range (0, i+1):
        print('*', end = '')
        #print(i,j)
    print('\r')

*
**
***
****
*****
******
*******
********
*********
**********

We use a `nested for loop`, the outer loop counts the number of rows and the inner loop prints the required number of asterisks in each row - as `i` counts the row number, `j` counts the number of asterisks in i'th row, which would be `i + 1`. `/r` is used to move to a new row each time the inner loop is fully executed.

#### (b)

In [7]:
for i in range (0, 10):
    for j in range (0, 10-i):
        print('*', end = '')
    print('\r')

**********
*********
********
*******
******
*****
****
***
**
*

The outer loop counts the row numbers, and the inner loop helps print the required number of asterisks in each row. Similar to the above program, but `j` counts the number of asterisks in i'th row which would be `10 - i`. `/r` moves to a new row each time the inner loop is executed fully.

#### (c)

In [8]:
for i in range (0, 10):
    for j in range (0, i):
        print(' ', end = '')
    for k in range (0, 10-i):
        print('*', end = '')
    print('\r')

**********
 *********
  ********
   *******
    ******
     *****
      ****
       ***
        **
         *

Here the outer loop counts the row numbers and the inner loop first prints a number of spaces (equal to the row number) before printing asterisks in i'th row equal to `10 - i`.

#### (d)

In [9]:
for i in range (0, 10):
    for j in range (0, 10-i):
        print(' ', end = '')
    for k in range (0, i+1):
        print('*', end = '')
    print('\r')

          *
         **
        ***
       ****
      *****
     ******
    *******
   ********
  *********
 **********

The outer loop counts the row numbers, the inner loop first prints `10 - i` spaces for i'th row, then `i + 1` asterisks.

#

# 3.26 Research: Anscombe’s Quartet
In this book’s data science case studies, we’ll emphasize the importance of “getting to know your data.” The basic descriptive statistics that you’ve seen in this chapter’s and the previous chapter’s Intro to Data Science sections certainly help you know more about your data. One caution, though, is that different datasets can have identical or nearly identical descriptive statistics and yet the data can be significantly different. For an example of this phenomenon, research Anscombe’s Quartet. You should find four datasets and the associated visualizations. It’s the visualizations that convince you the datasets are quite different. In an exercise in a later chapter, you’ll create these visualizations.

Anscombe's Quartet describes four different data sets that all have different values and are distributed in different ways but have identical values of descriptive statistics. It goes to show that the statistics of a dataset don't necessarily tell you everything about the dataset, and the graphical representation of datasets may add more insight rather than just the statistic properties.