### UID 106082225, Sarvari Pidaparty, MSBA'23

Self - Assessment: I have done the required exercises and fully understand them.

# 4.9 Data Science: Temperature Conversion
Implement a fahrenheit function that returns the Fahrenheit equivalent of a Celsius temperature. Use the following formula:
F = (9 / 5) * C + 32
Use this function to print a chart showing the Fahrenheit equivalents of all Celsius temperatures in the range 0–100 degrees. Use one digit of precision for the results. Print the outputs in a neat tabular format.

In [1]:
def celsius_to_fahrenheit(temp):
    return (9/5)*temp + 32

for tempc in range(0,101):
    tempf = celsius_to_fahrenheit(tempc)
    print(f'{tempc:>3} Celsius ={tempf:>6.1f} Fahrenheit')

  0 Celsius =  32.0 Fahrenheit
  1 Celsius =  33.8 Fahrenheit
  2 Celsius =  35.6 Fahrenheit
  3 Celsius =  37.4 Fahrenheit
  4 Celsius =  39.2 Fahrenheit
  5 Celsius =  41.0 Fahrenheit
  6 Celsius =  42.8 Fahrenheit
  7 Celsius =  44.6 Fahrenheit
  8 Celsius =  46.4 Fahrenheit
  9 Celsius =  48.2 Fahrenheit
 10 Celsius =  50.0 Fahrenheit
 11 Celsius =  51.8 Fahrenheit
 12 Celsius =  53.6 Fahrenheit
 13 Celsius =  55.4 Fahrenheit
 14 Celsius =  57.2 Fahrenheit
 15 Celsius =  59.0 Fahrenheit
 16 Celsius =  60.8 Fahrenheit
 17 Celsius =  62.6 Fahrenheit
 18 Celsius =  64.4 Fahrenheit
 19 Celsius =  66.2 Fahrenheit
 20 Celsius =  68.0 Fahrenheit
 21 Celsius =  69.8 Fahrenheit
 22 Celsius =  71.6 Fahrenheit
 23 Celsius =  73.4 Fahrenheit
 24 Celsius =  75.2 Fahrenheit
 25 Celsius =  77.0 Fahrenheit
 26 Celsius =  78.8 Fahrenheit
 27 Celsius =  80.6 Fahrenheit
 28 Celsius =  82.4 Fahrenheit
 29 Celsius =  84.2 Fahrenheit
 30 Celsius =  86.0 Fahrenheit
 31 Celsius =  87.8 Fahrenheit
 32 Celsius =  89.6 Fahrenheit
 33 Celsius =  91.4 Fahrenheit
 34 Celsius =  93.2 Fahrenheit
 35 Celsius =  95.0 Fahrenheit
 36 Celsius =  96.8 Fahrenheit
 37 Celsius =  98.6 Fahrenheit
 38 Celsius = 100.4 Fahrenheit
 39 Celsius = 102.2 Fahrenheit
 40 Celsius = 104.0 Fahrenheit
 41 Celsius = 105.8 Fahrenheit
 42 Celsius = 107.6 Fahrenheit
 43 Celsius = 109.4 Fahrenheit
 44 Celsius = 111.2 Fahrenheit
 45 Celsius = 113.0 Fahrenheit
 46 Celsius = 114.8 Fahrenheit
 47 Celsius = 116.6 Fahrenheit
 48 Celsius = 118.4 Fahrenheit
 49 Celsius = 120.2 Fahrenheit
 50 Celsius = 122.0 Fahrenheit
 51 Celsius = 123.8 Fahrenheit
 52 Celsius = 125.6 Fahrenheit
 53 Celsius = 127.4 Fahrenheit
 54 Celsius = 129.2 Fahrenheit
 55 Celsius = 131.0 Fahrenheit
 56 Celsius = 132.8 Fahrenheit
 57 Celsius = 134.6 Fahrenheit
 58 Celsius = 136.4 Fahrenheit
 59 Celsius = 138.2 Fahrenheit
 60 Celsius = 140.0 Fahrenheit
 61 Celsius = 141.8 Fahrenheit
 62 Celsius = 143.6 Fahrenheit
 63 Celsius = 145.4 Fahrenheit
 64 Celsius = 147.2 Fahrenheit
 65 Celsius = 149.0 Fahrenheit
 66 Celsius = 150.8 Fahrenheit
 67 Celsius = 152.6 Fahrenheit
 68 Celsius = 154.4 Fahrenheit
 69 Celsius = 156.2 Fahrenheit
 70 Celsius = 158.0 Fahrenheit
 71 Celsius = 159.8 Fahrenheit
 72 Celsius = 161.6 Fahrenheit
 73 Celsius = 163.4 Fahrenheit
 74 Celsius = 165.2 Fahrenheit
 75 Celsius = 167.0 Fahrenheit
 76 Celsius = 168.8 Fahrenheit
 77 Celsius = 170.6 Fahrenheit
 78 Celsius = 172.4 Fahrenheit
 79 Celsius = 174.2 Fahrenheit
 80 Celsius = 176.0 Fahrenheit
 81 Celsius = 177.8 Fahrenheit
 82 Celsius = 179.6 Fahrenheit
 83 Celsius = 181.4 Fahrenheit
 84 Celsius = 183.2 Fahrenheit
 85 Celsius = 185.0 Fahrenheit
 86 Celsius = 186.8 Fahrenheit
 87 Celsius = 188.6 Fahrenheit
 88 Celsius = 190.4 Fahrenheit
 89 Celsius = 192.2 Fahrenheit
 90 Celsius = 194.0 Fahrenheit
 91 Celsius = 195.8 Fahrenheit
 92 Celsius = 197.6 Fahrenheit
 93 Celsius = 199.4 Fahrenheit
 94 Celsius = 201.2 Fahrenheit
 95 Celsius = 203.0 Fahrenheit
 96 Celsius = 204.8 Fahrenheit
 97 Celsius = 206.6 Fahrenheit
 98 Celsius = 208.4 Fahrenheit
 99 Celsius = 210.2 Fahrenheit
100 Celsius = 212.0 Fahrenheit

First a `function` is defined to convert Celsius values to Fahrenheit. The formula is used inside the function definition.
Next a simple `for` loop is implemented to print out Fahrenheit values printed out for 0 to 100 degrees Celsius, in a neat formatted manner.

###

# 5.6 Functions Returning Tuples
Define a function rotate that receives three arguments and returns a tuple in which the first argument is at index 1, the second argument is at index 2 and the third argument is at index 0. Define variables a, b and c containing 'Doug', 22 and 1984. Then call the function three times. For each call, unpack its result into a, b and c, then display their values.

In [2]:
def rotate(a,b,c):
    a,b,c = (c,a,b)
    return(c,a,b)
    
a = "Doug"
b = 22
c = 1984

a,b,c=rotate(a, b, c)
print(f'a = {a}, b = {b}, c = {c}')

a,b,c=rotate(a, b, c)
print(f'a = {a}, b = {b}, c = {c}')

a,b,c=rotate(a, b, c)
print(f'a = {a}, b = {b}, c = {c}')

a = 22, b = 1984, c = Doug
a = 1984, b = Doug, c = 22
a = Doug, b = 22, c = 1984

Function `rotate` is defined to swap the three variables. The variables are defined next.
The function is called thrice and outputs are printed, we notice that a, b and c are rotated 3 times.

###

# 5.7 Duplicate Elimination
Create a function that receives a list and returns a (possibly shorter) list containing only the unique values in sorted order. Test your function with a list of numbers and a list of strings.

In [3]:
def duplicates(list1):
    dup = []
    for i in list1:
        if i not in dup:
            dup.append(i) 
    dup.sort()
    return dup

duplicates([34,8,80,34,2])

[2, 8, 34, 80]

In [4]:
duplicates(["list","one","two","one","tuple"])

['list', 'one', 'tuple', 'two']

We create a function `duplicates` which creates a list of the non-duplicate items in the entered list. We use a simple `nested loop` to accomplish this task. For every item in the entered list, we check if it is already present in the new list we are creating. If it is not present, we add the item to our new list. Then we return our newly created list with no duplicates.

#

# 5.14 Is a Sequence Sorted?
Create a function is_ordered that receives a sequence and returns True if the elements are in sorted order. Test your function with sorted and unsorted lists, tuples and strings.

In [5]:
def is_ordered(elements):
    return list(elements) == sorted(list(elements))

print(is_ordered([20,40,30,60]))
print(is_ordered('12494'))
print(is_ordered((3,10,30,89)))

False
False
True

The function `is_ordered` checks if the entered list is correctly sorted or not, using a simple boolean expression. It returns `true` if it is sorted and `False` if the list is jumbled/ not sorted.

#

# 5.27 Intro to Data Science: Duplicate Elimination and Counting Frequencies
Use a list comprehension to create a list of 50 random values in the range 1 through 10. Use NumPy’s unique function to obtain the unique values and their frequencies. Display the results.

In [6]:
import random
import numpy as np

group=[]

for j in range(50):
    group.append(random.randint(1,10))
    
x, f = np.unique(group, return_counts=True)

print('Integers   -   Frequencies')

for j in range(len(f)):
    print(f'{x[j]:>5} {f[j]:>15}')

Integers   -   Frequencies
    1               3
    2               2
    3               6
    4               4
    5               3
    6               9
    7               7
    8               6
    9               4
   10               6

First we import the libraries that we will need in further code, `random` and `numpy`. We create an empty list `group` first where we will go on adding the random integers that we generate. We add the randomly generated numbers from 1 to 10 into `group` via a simple `for` loop.
We use `np.unique` to find the frequencies of each of the numbers, and then print them out in a formatted manner.