## Python Workshop Week 1 - Exercise

## 2.1 What Does This Code Do? 
Create the variables x = 2 and y = 3,
then determine what each of the following statements displays:

In [1]:
x = 2

In [2]:
y = 3

Variables x and y have been defined above.

### (a)

In [3]:
print('x =', x)

x = 2

The print statement displays the value of variable 'x' as defined above.

### (b)

In [4]:
print('Value of', x, '+', x, 'is', (x + x))

Value of 2 + 2 is 4

Displays the value of 'x + x' which is equal to 4 using simple arithmetic.

### (c)

In [5]:
print('x =')

x =

Does not display the value of variable 'x' because no argument has been declared in the print statement.

### (d)

In [6]:
print((x + y), 'x =', (y + x))

5 x = 5

The statement first displays the value of 'x + y' which is 5, then the string 'x =' then the value of 'y + x' which is 5.

## 2.2 What’s Wrong with This Code? 
The following code should read an integer into the variable rating:

In [7]:
rating = input('Enter an integer rating between 1 and 10')

Enter an integer rating between 1 and 10 6

In [8]:
type(rating)

str

Variable 'rating' is read as type string by default, and would throw an error if used in subsequent code for arithmetic operations. To read it as integer, the input statement may be written as -

In [47]:
rating1 = int(input('Enter an integer rating between 1 and 10'))

Enter an integer rating between 1 and 10 5

In [48]:
type(rating1)

int

## 2.10 Arithmetic, Smallest and Largest 
(Arithmetic, Smallest and Largest) Write a script that inputs three
integers from the user. Display the sum, average, product, smallest and
largest of the numbers. Note that each of these is a reduction in functional style programming.

In [9]:
number1 = int(input('Enter the first integer'))

Enter the first integer 3

In [10]:
number2 = int(input('Enter the second integer'))

Enter the second integer 7

In [11]:
number3 = int(input('Enter the third integer'))

Enter the third integer 9

We take 3 integer inputs from the user using input statements. We read them as type int at the first step, as they would be read as string by default.

### (a)

In [12]:
sum_num = number1 + number2 + number3

In [13]:
sum_num

19

The sum is calculated using simple arithmetic, operator '+'

### (b)

In [14]:
average = sum_num / 3

In [15]:
average

6.333333333333333

The average is computed dividing the sum by 3

### (c)

In [16]:
product = number1 * number2 * number3

In [17]:
product

189

The product is calculated using simple arithmetic, operator '*'

### (d)

In [18]:
smallest = min(number1, number2, number3)

In [19]:
smallest

3

Display the smallest integer using Built-in Function 'min'

### (e)

In [20]:
largest = max(number1, number2, number3)

In [21]:
largest

9

Display the largest integer using Built-in Function 'max'

## 2.12  7% Investment Return
Some investment advisors say that it’s reasonable to expect a 7% return over the long term in the stock market. Assuming that you begin with $1000 and leave your money invested, calculate and display how much money you’ll have after 10, 20 and 30 years. Use the following formula for determining these amounts:

a = p(1 + r)n
where
p is the original amount invested (i.e., the principal of $1000),
r is the annual rate of return (7%),
n is the number of years (10, 20 or 30) and
a is the amount on deposit at the end of the nth year.

In [22]:
p = 1000

#### Principal amount $1000 is declared here

In [23]:
a_10 = p * (1 + 0.07) ** 10

In [24]:
print ('The amount on deposit $1000 at the end of 10 years is $', a_10)

The amount on deposit $1000 at the end of 10 years is $ 1967.1513572895665

In [25]:
a_20 = p * (1 + 0.07) ** 20

In [26]:
print ('The amount on deposit $1000 at the end of 20 years is $', a_20)

The amount on deposit $1000 at the end of 20 years is $ 3869.6844624861833

In [27]:
a_30 = p * (1 + 0.07) ** 30

In [28]:
print ('The amount on deposit $1000 at the end of 30 years is $', a_30)

The amount on deposit $1000 at the end of 30 years is $ 7612.255042662042

#### The amount on deposit $1000 at the end of 10, 20 and 30 years assuming 7% annual rate of return is returned with the application of the given formula.

## 2.13 How Big Can Python Integers Be?
We’ll answer this question later in the book. For now, use the exponentiation operator ** with large and very large exponents to produce some huge integers and assign those to the variable number to see if Python accepts them. Did you find any integer value that Python won’t accept?

In [29]:
x1 = 10 ** 100

In [30]:
x1

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [31]:
x2 = 10 ** 1000

In [32]:
x2

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [33]:
type (x2)

int

#### Python 3 is able to evaluate very large integers and store them as integer types as well. There is no limit other than the limit of the memory available!

#

## Optional Exercise 
## 2.11 (Separating the Digits in an Integer) 
Write a script that inputs a five-digit integer from the user. Separate the number into its individual digits. Print them separated by three spaces each. For example, if the user types in the number 42339, the script should print 4 2 3 3 9

In [34]:
number = int(input('Enter a five-digit integer:'))

Enter a five-digit integer: 98753

#### First we read the input five digit integer from the user

In [35]:
D1 = number // 10000

In [36]:
N1 = number % 10000

In [37]:
D2 = N1 // 1000

In [38]:
N2 = number % 1000

In [39]:
D3 = N2 // 100

In [40]:
N3 = number % 100

In [41]:
D4 = N3 // 10

In [42]:
N4 = number % 10

In [43]:
D5 = N4 // 1

#####

In [44]:
print(D1, '  ', D2, '  ', D3, '  ', D4, '  ', D5)

9    8    7    5    3

##### The floor division operator gets us the first digit of the integer. Next we get the remaining 4 digits using the remainder operator. We can then use the result 'N1' to get the second digit (using floor division) as in the first step. We continue the same till we get the last digit, and print out the result with spaces.